/* HTML Elements */
html, body {
  height: 100%;
}
body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
}
select, input, textarea {
  color: white;
  background-color: #222;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #444;
  border-radius: 3px;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Display */
.d-block { display: block; }
.d-flex { display: flex; }
.d-none { display: none; }

/* Flex */
.flex-column { flex-direction: column; }
.flex-grow-1 { flex-grow: 1; }
.flex-shrink-0 { flex-shrink: 0; }

/* Size */
.w-100 { width: 100%; }
.h-100 { height: 100%; }

/* Margins */
.ma-0 { margin: 0; }
.mr-auto { margin-right: auto; }
.ma-2 { margin: 8px; }
.my-2 { margin-top: 8px; margin-bottom: 8px; }
.ml-3 { margin-left: 12px; }
.mr-3 { margin-right: 12px; }
.mb-2 { margin-bottom: 8px; }

/* Padding */
.pa-2 { padding: 8px; }
.pa-3 { padding: 12px; }
.pa-4 { padding: 16px; }
.py-3 { padding-top: 12px; padding-bottom: 12px; }
.pr-3 { padding-right: 12px; }

/* Fonts */
.font-micro { font-size: 70%; }
.font-small { font-size: 85%; }

/* Text */
.text-center {
  text-align: center;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Borders */
.rounded { border-radius: 6px; }

/* Alignment */
.align-center { align-items: center; }
.justify-between { justify-content: space-between; }

/* Selection */
.selectable, .btn { cursor: pointer; }
.selectable > div:hover { background-color: #BBF2; }

/* Buttons */
.btn.tonal { 
  font-size: 16px;
  padding: 5px 12px 8px;
  font-variant: all-small-caps;
  border-radius: 4px;
  letter-spacing: 0.7px;
}
.btn:hover {
  background-color: #FFF2;
}
.btn.primary {
  background-color: #04AA6D;
}
.btn.primary:hover {
  background-color: #05B571;
}

/* Lists */
.list .item {
  font-size: 18px;
}
.list .item.selected {
  background-color: #88F2;
}
.list .item .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: auto;
}

/* Pages */
.page {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #111;
}

/* Title blocks */
.title {
  display: flex;
  font-size: 24px;
  align-items: center;
  background-color: #282A35;
}
.title > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Navigation bar */
.nav {
  flex-shrink: 0;
  background-color: #282A35;
  text-align: center;
  cursor: pointer;
}
.nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: 12px;
  opacity: 0.6;
}
.nav > div:hover {
  opacity: 0.9;
}
.nav > div.selected {
  opacity: 1;
}

/* Images */
.img {
  width: 18px;
  height: 18px;
}
.img.img-lg {
  width: 24px;
  height: 24px;
}
.img.img-vlg {
  width: 34px;
  height: 34px;
}
.img-led {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='white' fill='none' stroke-linecap='round'%3E%3Cpath stroke-linejoin='round' d='m10,21.28 v-4.18 m0,-3 V9.63 h1.04 l0.53,0.85 1.06,-0.85 h1.26 v4.47 m0,3 V23.46 M6.75,14.1 H17.25 c0.55,0 1,0.45 1,1 v1 c0,0.55 -0.44,1 -1,1 H6.75 c-0.55,0 -1,-0.45 -1,-1 v-1 c0,-0.55 0.45,-1 1,-1 zM16.75,13.8 V5.25 C16.75,2.63 14.62,0.5 12,0.5 c-2.62,0 -4.75,2.13 -4.75,4.75 v 8.55'/%3E%3Cpath d='M8.82,5.25 A3.18,3.18 0 0 1 12,2.09'/%3E%3C/svg%3E");
}
.img-arrow-back {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' stroke='white' fill='none'%3E%3Cpath d='M2,6 H 9.5 M5.5,2.5 2,6 5.5,9.5'/%3E%3C/svg%3E");
}
.img-chevron-right {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' stroke='white' fill='none'%3E%3Cpath d='M4,2 8,6 4,10'/%3E%3C/svg%3E");
}
.img-close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' stroke='white' fill='none'%3E%3Cpath d='m2,10 8,-8 m-8,0 8,8'/%3E%3C/svg%3E");
}
.img-gear {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' stroke='white' stroke-width='.75' fill='none'%3E%3Cpath d='M9.9,6.88 11.34,8 10.41,9.62 8.66,8.99 C8.23,9.37 7.73,9.65 7.19,9.82 L6.94,11.62 H5.06 L4.74,9.8 C4.2,9.62 3.7,9.33 3.29,8.94 L1.59,9.62 0.66,8 2.08,6.8 C1.96,6.25 1.97,5.68 2.09,5.12 L0.66,4 1.59,2.38 3.34,3.01 C3.77,2.63 4.27,2.35 4.81,2.18 L5.06,0.37 H6.94 L7.26,2.2 C7.8,2.38 8.3,2.67 8.71,3.06 L10.41,2.38 11.34,4 9.92,5.2 c0.11,0.56 0.11,1.13 -0.02,1.68z'/%3E%3Ccircle cx='6' cy='6' r='1.925'/%3E %3C/svg%3E");
}
.img-options {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' stroke='white' fill='none'%3E%3Cpath d='m6,8.5 v3 M6,10 h5.5 m-11,0 h3 m0,-5.5 v3 M3.5,6 h-3 m11,0 H6 M8.5,0.5 v3 M8.5,2 h3 m-11,0 h5.5'/%3E%3C/svg%3E");
}
.img-library {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' stroke='white' fill='none'%3E%3Cpath d='m2.5,1 h7 m-8,2 h9'/%3E%3Crect x='0.5' y='5' width='11' height='6.5' rx='1' ry='1'/%3E%3C/svg%3E");
}
.rainbow {
  background-image: linear-gradient(90deg,#F00,#FF0,#0F0,#0FF,#00F,#F0F,#F00);
}

/* App pages */
.main {
  min-height: 10px;
  flex-grow: 1;
}
.play {
  flex-shrink:0;
  display:flex; align-items:center;
}
.options .value {
  width: 4em;
  text-align: right;
}
